[req]
req_extensions = ext
distinguished_name = dn
prompt = no

[ext]
keyUsage = critical, keyAgreement, keyEncipherment, digitalSignature
extendedKeyUsage = critical, ${ENV::_EKU}

[dn]
CN = ${ENV::CN}
