[req]
req_extensions = ext
distinguished_name = dn
prompt = no

[ext]
keyUsage = critical, keyAgreement, keyEncipherment, digitalSignature
extendedKeyUsage = ${ENV::_EKU}
subjectAltName = @alt_names

[dn]
CN = ${ENV::CN}

[alt_names]
DNS.1 = ${ENV::ALTN1}
DNS.2 = ${ENV::ALTN2}
DNS.3 = ${ENV::ALTN3}
